@page "/portfolio"

@using Blazorise
@using Blazorise.TreeView;

<div class="container.is-fullhd">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <TreeView Nodes="_portfolioListResult"
                                  GetChildNodes="@(item => item.Children)"
                                  HasChildNodes="@(item => item.Children?.Any() == true)"
                                  @bind-SelectedNode="selectedPortfolio"
                                  @bind-ExpandedNodes="_expandedPortfolio">
                            <NodeContent>
                                <img class="icon-25" src="@PortfolioViewModel.GetIcon(context.Type)"/>
                                <span @onclick="() => OnHideCard(context)" class="ml-2 mr-2 has-text-weight-bold icon-pos"> @context.Text </span>
                                @if (context.Type != PortfolioType.Dataset)
                                {
                                    <img class="icon-25" src="_content/ClientUI.Components/icons/Add.png" @onclick="(() => ShowModal(context))"/>
                                }
                            </NodeContent>
                        </TreeView>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-two-thirds">
            <div class="card" hidden="@HideCard">
                <div class="card-content">
                    <div class="content">
                        <h4 class="mb-4"> @selectedPortfolio.Text </h4>
                        <div class="columns">
                            <div class="column">
                                <label>Description</label>
                                <img class="icon-25 is-pulled-right" src="_content/ClientUI.Components/icons/Save.png"/>
                                <article class="mt-2 message is-warning">
                                    <div class="message-body">
                                        @selectedPortfolio.Description
                                    </div>
                                </article>
                            </div>
                        </div>
                        <Tabs SelectedTab="@_selectedTab" SelectedTabChanged="@OnSelectedTab">
                            <Items>
                                <Tab Name="tab1">Input data structure</Tab>
                                <Tab Name="tab2">Transformations</Tab>
                                <Tab Name="tab3">Version history</Tab>
                            </Items>
                            <Content>
                                <TabPanel Name="tab1">
                                    <h6>Data source</h6>
                                    <div class="columns">
                                        <div class="column is-one-fifth">
                                            <label>Source Type</label>
                                            <select class="select" @onchange="OnChangeDatasource">
                                                @foreach (var datasource in PortfolioViewModel.GetDatasources())
                                                {
                                                    <option value=@datasource>@datasource.Key</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="column">
                                            <label>Filename</label>
                                            <div style="display:flex">
                                                <FileEdit Filter="filterFile" Placeholder="No File chosen" ClassNames="input is-primary" Changed="@OnChanged"/>
                                                <img style="top: 6px;left: 6px;" class="icon-25" src="_content/ClientUI.Components/icons/Open.png"/>
                                            </div>
                                        </div>
                                        <div class="column is-two-quarters"> </div>
                                    </div>
                                    <h6>Versioning strategy</h6>
                                    <div class="columns">
                                        <div class="column is-one-fifth">
                                            <label>Strategy</label>
                                            <div class="dropdown">
                                                <div class="dropdown-trigger">
                                                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                                        <span> Upsert / DS per import / Incremental</span>
                                                        <span class="icon is-small">
                                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <a href="#" class="dropdown-item">
                                                            Dropdown item
                                                        </a>
                                                        <a class="dropdown-item">
                                                            Other dropdown item
                                                        </a>
                                                        <a href="#" class="dropdown-item is-active">
                                                            Active dropdown item
                                                        </a>
                                                        <a href="#" class="dropdown-item">
                                                            Other dropdown item
                                                        </a>
                                                        <hr class="dropdown-divider">
                                                        <a href="#" class="dropdown-item">
                                                            With a divider
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h6>Data description </h6>
                                    <div class="columns">
                                        <div class="column">
                                            <Table>
                                                <TableHeader>
                                                    <TableRow>
                                                        <TableHeaderCell>Name</TableHeaderCell>
                                                        <TableHeaderCell>Type</TableHeaderCell>
                                                        <TableHeaderCell>Description</TableHeaderCell>
                                                        <TableHeaderCell>
                                                            <img class="icon-25" src="_content/ClientUI.Components/icons/Add.png"/>
                                                        </TableHeaderCell>
                                                    </TableRow>
                                                </TableHeader>
                                                <TableBody>
                                                    @foreach (var item in  DataTable.Rows)
                                                    {
                                                        <TableRow>
                                                            <TableRowCell>@item.Name</TableRowCell>
                                                            <TableRowCell>@item.Type</TableRowCell>
                                                            <TableRowCell>@item.Description</TableRowCell>
                                                            <TableRowCell>
                                                                <img class="icon-25" src="_content/ClientUI.Components/icons/Delete.png"/>
                                                            </TableRowCell>
                                                        </TableRow>
                                                    }
                                                </TableBody>
                                            </Table>
                                        </div>
                                    </div>

                                </TabPanel>
                                <TabPanel Name="tab2">
                                    Content for profile.
                                </TabPanel>
                                <TabPanel Name="tab3">
                                    Content for messages.
                                </TabPanel>
                            </Content>
                        </Tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <Modal @ref="_modalRefefence">
        <ModalContent Centered>
            <ModalHeader>
                <ModalTitle>@Localizer["AddPortfolio"]</ModalTitle>
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@Localizer["PortfolioName"]</FieldLabel>
                    <TextEdit @bind-Text="@_modalViewModel.Name" PlaceHolder="Name..."/>
                </Field>
                <Field>
                    <Select TValue="string" SelectedValueChanged="@OnChangeType">
                        @foreach (var type in _types)
                        {
                            <SelectItem Value=@type>@type</SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Light" Clicked="@onModalCancel">@Localizer["Cancel"]</Button>
                <Button Color="Color.Success" Clicked="@onModalSave">@Localizer["Save"]</Button>
            </ModalFooter>
        </ModalContent>
    </Modal>

</div>